.review-container {
    margin: 50px auto;
}

.btn-proceed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 56px;
    margin: 10px auto;
    background-color: #ff9900;
    border-radius: 4px;
    text-decoration: none;
}
.proceed-link {
    text-decoration: none;
}